@font-face {
    font-family: 'enicom';
    src: url('../fonts/enicom.eot');
    src: url('../fonts/enicom.eot') format('embedded-opentype'), url('../fonts/enicom.ttf') format('truetype'), url('../fonts/enicom.woff') format('woff'), url('../fonts/enicom.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*=" icon-"],
[class^=icon-] {
    font-family: enicom !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-live:before {
    content: "\e959"
}

.icon-top:before {
    content: "\e958"
}

.icon-back:before {
    content: "\e957"
}

.icon-video-outline:before {
    content: "\e956"
}

.icon-add-calendar:before {
    content: "\e955"
}

.icon-turn-phone:before {
    content: "\e954"
}

.icon-mail-alert:before {
    content: "\e953"
}

.icon-calendar-filter:before {
    content: "\e951"
}

.icon-reset:before {
    content: "\e952"
}

.icon-plus-light:before {
    content: "\e950"
}

.icon-location:before {
    content: "\e94f"
}

.icon-mail:before {
    content: "\ea16"
}

.icon-check:before {
    content: "\ea17"
}

.icon-careers-menu:before {
    content: "\ea18"
}

.icon-media-menu:before {
    content: "\ea19"
}

.icon-plus:before {
    content: "\ea27"
}

.icon-minus:before {
    content: "\ea28"
}

.icon-calendar-small:before {
    content: "\e900"
}

.icon-cards-small:before {
    content: "\e901"
}

.icon-careers-small:before {
    content: "\e902"
}

.icon-car-small:before {
    content: "\e903"
}

.icon-cash-small:before {
    content: "\e904"
}

.icon-channels-small:before {
    content: "\e905"
}

.icon-circles-small:before {
    content: "\e906"
}

.icon-clock-small:before {
    content: "\e907"
}

.icon-close-small:before {
    content: "\e908"
}

.icon-code-small:before {
    content: "\e909"
}

.icon-compass-small:before {
    content: "\e90a"
}

.icon-directions-small:before {
    content: "\e90b"
}

.icon-doc-small:before {
    content: "\e90c"
}

.icon-download-small:before {
    content: "\e90d"
}

.icon-drill-small:before {
    content: "\e90e"
}

.icon-drop-small:before {
    content: "\e90f"
}

.icon-facebook:before {
    content: "\e910"
}

.icon-factory-small:before {
    content: "\e911"
}

.icon-folders-small:before {
    content: "\e912"
}

.icon-hamburger:before {
    content: "\e913"
}

.icon-hands-small:before {
    content: "\e914"
}

.icon-hearth-small:before {
    content: "\e915"
}

.icon-heart-small:before {
    content: "\e916"
}

.icon-horse-small:before {
    content: "\e917"
}

.icon-instagram:before {
    content: "\e918"
}

.icon-jpg-small:before {
    content: "\e919"
}

.icon-leafs-small:before {
    content: "\e91a"
}

.icon-light-fire-small:before {
    content: "\e91b"
}

.icon-lightning-small:before {
    content: "\e91c"
}

.icon-light-small:before {
    content: "\e91d"
}

.icon-linkedin:before {
    content: "\e91e"
}

.icon-link-small:before {
    content: "\e91f"
}

.icon-loading-small:before {
    content: "\e920"
}

.icon-location-small:before {
    content: "\e921"
}

.icon-media-small:before {
    content: "\e922"
}

.icon-microphone-small:before {
    content: "\e923"
}

.icon-microscope-small:before {
    content: "\e924"
}

.icon-newspaper-small:before {
    content: "\e925"
}

.icon-news-small:before {
    content: "\e926"
}

.icon-note-plus-small:before {
    content: "\e927"
}

.icon-pdf-small:before {
    content: "\e928"
}

.icon-people-small:before {
    content: "\e929"
}

.icon-petrol-small:before {
    content: "\e92a"
}

.icon-pin-small:before {
    content: "\e92b"
}

.icon-podcast-small:before {
    content: "\e92c"
}

.icon-puzzle-small:before {
    content: "\e92d"
}

.icon-register-small:before {
    content: "\e92e"
}

.icon-remove-small:before {
    content: "\e92f"
}

.icon-run-small:before {
    content: "\e930"
}

.icon-search-small:before {
    content: "\e931"
}

.icon-share-small:before {
    content: "\e932"
}

.icon-six-people-small:before {
    content: "\e933"
}

.icon-station-small:before {
    content: "\e934"
}

.icon-statistics-small:before {
    content: "\e935"
}

.icon-suits-small:before {
    content: "\e936"
}

.icon-table-people-small:before {
    content: "\e937"
}

.icon-test-tube-small:before {
    content: "\e938"
}

.icon-ties-people-small:before {
    content: "\e939"
}

.icon-tools-small:before {
    content: "\e93a"
}

.icon-twitter:before {
    content: "\e93b"
}

.icon-user-small:before {
    content: "\e93c"
}

.icon-video-small:before {
    content: "\e93d"
}

.icon-xls-small:before {
    content: "\e93e"
}

.icon-youtube:before {
    content: "\e93f"
}

.icon-add-small:before {
    content: "\e941"
}

.icon-ampoule-small:before {
    content: "\e942"
}

.icon-arrow-down-small:before {
    content: "\e943"
}

.icon-arrow-up-small:before {
    content: "\e958"
}

.icon-arrow-right-small:before {
    content: "\e944"
}

.icon-bar-graph-small:before {
    content: "\e945"
}

.icon-bars-small:before {
    content: "\e946"
}

.icon-battery-small:before {
    content: "\e947"
}

.icon-brain-small:before {
    content: "\e948"
}

.icon-added-to-menu:before {
    content: "\e94b"
}

.icon-arrow-left:before {
    content: "\e940"
}

.icon-arrow-left-bread:before {
    content: "\e957"
}

.icon-arrow-right:before {
    content: "\e949"
}

.icon-arrow-up:before {
    content: "\e94a"
}

.icon-mail:before {
    content: "\ea16"
}

.icon-check:before {
    content: "\ea17"
}

.icon-careers-menu:before {
    content: "\ea18"
}

.icon-media-menu:before {
    content: "\ea19"
}

.icon-press-release:before {
    content: "\e94c"
}

.icon-zip-small:before {
    content: "\e94d"
}

.icon-web-small:before {
    content: "\e94e"
}